/* セレクトボックス */
.formItemSelect {
    position: relative;
}
  
.formItemSelect::before,
.formItemSelect::after {
    position: absolute;
    content: '';
    pointer-events: none;
}
  
.formItemSelect::before {
    /* 選択アイコン（右側の"く"みたいなやつ）の背景 */
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 3px 3px 0;
    background-color: #5bc8ac;
    content: '';
}

.formItemSelect::after {
    /* 選択アイコン */
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}
  
.formItemSelect select {
    /* 選択肢 */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid #5bc8ac;
    border-radius: 3px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}
  
.formItemSelect select:focus {
    outline: 1px solid #5bc8ac;
}