/* ボタンの設定 */
.formButton {
    border-radius: 6px;
    margin: 32px auto 0;
    padding: 20px 0;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #5bc8ac;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .formButton {
        margin-top: 24px;
        padding: 8px 0;
        width: 160px;
        font-size: 16px;
    }
}