/* 小さいスタイル */
.basic{
    font-size: larger;
    font-weight: 700;
    letter-spacing: 0.15em;
}

/* 箱型にするスタイル */
.box{
    composes: basic;
    display: inline-block;
    padding: 1em 2em;
    color: #61C1BE;
}

/* 文字のでかさ */
.logoTitleBox{
    font-size: 2rem;
}

.logoTitleBasic{
    font-size: 1.5rem;
}