/* 横並びに配置 */
.list{
    display: flex;
}

/* ホバーできる環境に対して適用 */
@media(hover:hover){
    /* マウスホバー時に協調 */
    .list :hover{
        color: var(--hover-text-color);
        cursor: pointer;
    }
}

/* ホバーできない環境に対して適用 */
@media (hover:none) {
    .list{
        -webkit-tap-highlight-color: transparent;
    }
    .list :active{
        color: var(--hover-text-color);
        cursor: pointer;
    }
}

/* 各メニューアイテム */
.list li a {
    /* フレキシブルボックスでアイコンとテキストを縦並びに表示 */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
}

/* テキスト */
.navText{
    font-size: 14px;
    font-weight: bold;
}

/* アイコン */
.list svg {
    font-size: 40px;
}

/* メニューアイテムの箱 */
.list li{
    padding: 15px;
    height: 80px;
    width: 100px;
    color: white;
}
.list .race{
    background-color: #ef7e17;
}
.list .kyosoba{
    background-color: #76BACC;
}
.list .kanri{
    background-color: #FFD43B;
}

