/* 横並びに配置 */
.list{
    display: flex;
    gap: 2em;
}

/* ホバーできる環境に対して適用 */
@media(hover:hover){
    /* マウスホバー時に協調 */
    .list :hover{
        color: var(--hover-text-color);
        cursor: pointer;
    }
}

/* ホバーできない環境に対して適用 */
@media (hover:none) {
    .list{
        -webkit-tap-highlight-color: transparent;
    }
    .list :active{
        color: var(--hover-text-color);
        cursor: pointer;
    }
}

/* 各メニューアイテム */
.list li a {
    /* フレキシブルボックスでアイコンとテキストを縦並びに表示 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* テキスト */
.navText{
    font-size: x-small;
}

/* アイコン */
.list svg {
    font-size: xx-large;
}

