/* 馬の情報描画領域 */
.horseInfo{
    background-color: white;
}
/* 写真の配置 */
.horsePictureContainer{
    text-align: center;
    /* background-color: rgba(128, 255, 0, 0.5); */
}

.horseInfoDetail{
    /* background-color: rgba(0, 255, 255, 0.5); */
}

/* フレキシブルボックス */
.flexibleContents{
    display: flex;
    flex-direction: column;
}
.horsePicture{
    width: 80%;
    height: auto;
}
@media (min-width:768px) {
    /* 画面サイズが大きい場合は横並び */
    .flexibleContents{
        flex-direction: row;
    }
    .horsePictureContainer{
        flex-basis: 50%;
    }
    .horseInfoDetail{
        flex-basis: 50%;
    }
}
