/* メインコンテンツ */
.kanriContentsBox{
    background-color: white;
    padding-bottom: 1em;
}

/* フォーム箇所全般 */
.form {
    margin: 0 auto;
    max-width: 720px;
  }
  @media screen and (max-width: 768px) {
    .form {
      margin-top: 40px;
    }
}
